.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #004be2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-body{
  background-color:rgb(40, 103, 143);
}

.card-body:hover{
  background-color: rgb(38, 74, 104);
}

.card-text{
  color: rgb(255, 255, 255);
}

.card-title{
  background-color:rgba(255, 208, 0, 0.733);
  color:rgb(255, 255, 255) ;
}

.back{
  background-color: lightseagreen;
}

.card-text{
  color: rgb(0, 0, 0);
}

.card-text:hover{
  background-color: rgba(7, 255, 48, 0.466);
}
